{% extends 'instructors/base.html' %}
{% block search %}{% load static %}

<p style="text-align:center;">"{{request.GET.search}}":نتائج البحث لـ </p>



<img src="/static/{{inst.doorsheet}}" />-- here 
<img src="{% static ''%}{{inst.doorsheet}}" />-- here 
<img src="{% static ''%}{{inst.doorsheet}}" />-- here 
<img src="{% static ''%}{{inst.doorsheet}}" />-- here 
</br>
{% static '' %}ahmad</br>
{{inst.doorsheet}}</br>
{{inst.doorsheet.name}}</br>
{{inst.doorsheet.name}}</br>
{% if results_list.count > 2 %}
<div class="list-group" >
	{% for inst in results_list %}
	<a href="{% url 'instructor' inst.id %}" class="list-group-item " >{{inst.first_name|title}} {{inst.last_n
	ame|title}}</a>
	{% endfor %}
</div>
{% else %}
{% for inst in results_list %}
<div class="panel panel-primary"> <!-- panel-primary -->

</div>
{% endfor %}
{% endif %}
{% if request.META.HTTP_REFERER  %}
<button onclick="window.location.href='/home/'" type="button" class="btn btn-primary">رجوع</button>
{% else %}
<button onclick="window.location.href='/home/'" type="button" class="btn btn-primary">الرئيسية</button>
{% endif %}
{% endblock %}